<footer class="page-footer font-small bg-secondary pt-4">

  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://github.com/sarahnani" target="_blank" class="ico-github">
              <i class="fa fa-github-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/sarahnani/" target="_blank" class="ico-linkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">© 2020 Copyright: </span>
    <a href="https://www.linkedin.com/in/sarahnani/" target="_blank" class="text-light">Sarah Nani</a>
  </div>

</footer>
